* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(167, 162, 162);
  background-image: radial-gradient(circle,rgb(194, 187, 187),rgb(254, 255, 255),rgb(175, 222, 253),rgb(55, 174, 253));
}

.header h1 {
  font-size: 50px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 5px grey;
  background-image: linear-gradient(to left,rgb(248, 211, 88), rgb(231, 179, 65)); 
}

.cardr {
  /*background-color: #f13939;*/
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 5px grey;
  height: 300px;
  background-image: linear-gradient(to right, rgba(245, 106, 96, 0.973), rgb(247, 175, 170));
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 7px;
  text-align: center;
  background-image: radial-gradient(circle,rgb(194, 187, 187),rgb(254, 255, 255),rgb(175, 222, 253),rgb(55, 174, 253));  
  margin-top: 10px;
}

.marq{
  size:500px;
  color: rgb(29, 235, 39);
  text-shadow:1px 1px 0 #444;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 800px) {
  .leftcolumn{   
    width: 75%;
    padding: 0;
  }
  .rightcolumn {   
    width: 25%;
    padding:px;
  }
}

@media screen and (max-width: 800px) {
    .leftcolumn,.rightcolumn{   
      width: 100%;
      padding: 0;
    }
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 200px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/*CVR logo*/
img {
  max-width: 100%;
  height: auto;
}

/*LOADER*/
  #loader{
          position: absolute;
          left: 35%;
          top: 75%;
          z-index: 1;
          width: 150px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        
        #myDiv {
          display: none;
          text-align: center;
        }